@charset "UTF-8";

/*CSS Annalize */
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

.header {}

body {
    margin: 0;
    padding: 0;
    background-image: url("img/wallpaper.jpg");
    font-family: "Courier New", monospace;
}

#main-container {
    width: 850px;
    margin: 0 auto;
    font-size: 1.2em;
    background-color: white;
}


.navbar {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.navbar > .nav-header {
    display: inline;
}

.navbar > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.navbar > .nav-btn {
    display: none;
}

.navbar > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navbar > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.navbar > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#header-image {
    width: 850px;
    height: 300px;
}

#zebra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 500px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#email {
    width: 30px;
    height: 30px;
}

#linkedin {
    width: 30px;
    height: 30px;
}

#leeuw {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
}

#cv-pdf {
    margin-left: 25px;
    height: 500px;
    width: 800px;
}

#wolken {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
}


.text-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Reponsive */
@media screen and (max-width: 600px) {
    .text-block {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 400px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #4d4d4d;
        z-index: 1;
    }

    .nav-links a {
        padding: 15px 20px;
    }

    .nav-links.active {
        display: flex;
    }

    table {
        border: 0;
        width: 300px;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:last-child {
        border-bottom: 0;
    }

    #zebra {
        height: 150px;
        width: 250px;
        margin-left: 20px;
    }

    #leeuw {
        width: 225px;
        height: 150px;
        margin-left: 20px;
    }

    #wolken {
        width: 250px;
        height: 200px;
        margin-left: 20px;
    }

    #cv-pdf {
        height: 150px;
        width: 300px;
    }

}
